*{
  margin: 0%;
  padding: 0%;
}
body{
  display: grid;
  place-items: center;
}
.root{
  width: 700px;
}
.container{
  display: flex;
  flex-direction: column;
  width: 540px;
  height: fit-content;
  border: 1px solid black;
  border-bottom: transparent;
}
nav{
  width: 500px;
  margin-bottom: 10px;
  box-shadow: 0 0 4px rgb(171, 167, 167);
  padding: 20px;
}
main{
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
}
.div1{
  margin-top: 40px;
  margin-right: 10px;
}
.div3{
  margin-top: 30px;
  margin-left: 10px;
}
.div3 img{
  margin-bottom: 5px;
}
.div4{
  margin-left: 10px;
}
.div5{
  margin-left: 10px;
  margin-top: 25px;
}
.intro{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}
.intro p{
  font-weight: 600;
  opacity: 70%;
  width: 65%;
  margin-top: 10px;
}
.cards{
  margin: 30px;
}
.card1 .div1-card img{
  width: 200px;
}
.div1-card{
  position: relative;
}
.card1 .div1-card p{
  position: absolute;
  margin: 5px;
  top: 3%;
  left: 1%;
  border-radius: 3px;
  background-color: white;
  padding: 2px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .7rem;
}
.card1 .div2-card{
  display: flex;
  margin: 3px;
}
.card1 .div2-card img{
  width: 15px;
  height: 15px;
}
.card1 .div2-card p{
  margin-left: 5px;
}
#rating{
  font-weight: 800;
}
.card1 .div3-card{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.card1 .div3-card span{
  font-weight: 800;
  margin-right: 3px;
}
.card-container{
  display: flex;
  overflow-x: scroll;
}
.card-container img {
  height: 280px;
}