*{
  margin: 0%;
  padding: 0%;
}
body{
  display: grid;
  place-items: center;
}
.root{
  width: 700px;
}
.container{
  display: flex;
  flex-direction: column;
  width: 500px;
}
nav{
  width: 500px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px grey;
  padding: 20px;
}
main{
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
}
.div1{
  margin-top: 40px;
  margin-right: 10px;
}
.div3{
  margin-top: 30px;
  margin-left: 10px;
}
.div3 img{
  margin-bottom: 5px;
}
.div4{
  margin-left: 10px;
}
.div5{
  margin-left: 10px;
  margin-top: 25px;
}
.intro{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}
.intro p{
  font-weight: 600;
  opacity: 70%;
  width: 65%;
  margin-top: 10px;
}